<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="ISO-8859-1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div th:each="erro: ${#fields.detailedErrors('${recebendo.*}')}">
            <span th:text="${erro.message}"></span>
        </div>

        <form method="POST" th:object="${recebendo}">
            <span th:text="${mensagem}"></span>
            <br>
            <label>Nome</label>
            <input type="text" th:field="*{nome}">
            <br>
            <input type="submit" value="Salvar">
        </form>
    </body>
</html>
