<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <body>

        <!-- início assunto -->
        <div class="row">
            <div class="col-md-12"> 
                <div class="widget wgreen">

                    <div class="widget-head">
                        <div class="pull-left">Manutenção do Assunto</div>
                        <div class="widget-icons pull-right">
                            <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a> 
                            <a href="#" class="wclose"><i class="fa fa-times"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="widget-content">
                        <div class="padd">
                            <br />
                            <!-- Form starts.  -->
                            <form class="form-horizontal" role="form">

                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Assunto</label>
                                    <div class="col-lg-5">
                                        <input type="text" class="form-control" placeholder="Digite o nome do assunto ou cadastre um novo">
                                    </div>
                                </div>

                            </form>
                        </div><!-- padd -->
                    </div><!-- widget content -->
                    <div class="widget-foot">
                        <!-- Footer goes here -->
                    </div>
                </div>  <!-- widget wgreen -->
            </div>
        </div>

    </body>
</html>
